html{
    color: black;
    font-size: 1vw;
    background-image: url('bg3.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}


.dealElemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: auto;
    border: 2px black double;
    background-color: rgb(78, 237, 153);
    color: black;
    padding: 1rem;
    border-radius: 4rem;

}

.clearContainer{
    background-color: rgba(227, 230, 239, 0.5);
    background-size: contain;
    border: 0.2rem double rgb(50, 61, 123);
    border-radius: 4rem;
    justify-items: center;
    width: fit-content;
    margin: auto;
    padding: 1rem;
}

.btn{
    background-color:rgb(0, 159, 132);
    padding: 1rem;
    border: 1px double rgb(102, 216, 246);
    border-radius: 1rem;
    font-size: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color:  rgba(227, 230, 239, 1);
}

.largeBtn{
    background-color: rgb(50, 61, 123);
    color:  rgba(227, 230, 239, 1);
    margin: auto;
    display: flex;
    width: 10rem;
    justify-content: center;
}

.btnsDiv{
    margin: auto;
    padding: 2rem;
}
/* .home{
    background-image: url('bg2.jpg');
    background-size: auto;
} */

.btn:hover{
    background-color:rgb(102, 216, 246);
    color: rgb(50, 61, 123);
}

.largeBtn:hover{
    background-color: #FFABA1;
}

h1 {
        font-family: "Playwrite ES"; 
}

#dealsContainerDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}