html{
    color: black;
    font-size: 1vw;
}


.dealElemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: auto;
    border: 2px black double;
    background-color: aquamarine;
    color: black;
    padding: 1rem;
    border-radius: 4rem;

}


.home{
    background-image: url('bg.png');
    background-size: cover;
}

.home h1 {
        font-family: "Playwrite ES"; 
}

#dealsContainerDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}