<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sniper</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="clearContainer"><h1>Deals</h1></div>
    <div id="dealsContainerDiv">
        <%- dealsData%>
    </div>
</body>
</html>