<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sniper</title>
</head>
<body>
    <h1>Search for Deals on Games</h1>
    <form method="post" action=<%- portNumberLink %>>
        Max price: <input type="number" name="maxPrice" value="15">
        <input type="submit" id="getDealsBtn" value="Get Deals">
    </form>
    
</body>
</html>