<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sniper</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap" rel="stylesheet">
</head>
<body class ="home">
    <div class="clearContainer">
        <h1>Welcome to Game Sniper!</h1>
            <h2>Login to continue to search for deals on your favorite games!</h2>
            <h3>If you dont have an account already please register</h3>
            <div class="btnsDiv">
                <a href = "/login" class="btn"> Login </a>
                <a href = "/register" class="btn"> Register </a>
            </div>
    </div>
    
    
    
    
</body>
</html>
