<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sniper</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>If you already have an account please login</h1>
    <form method="post" action="/register">
        First Name: <input type="text" name="firstname">
        Last Name: <input type="text" name="lastname">
        Email Name: <input type="email" name="email">
        <input type="submit" id="login" value="Register">
    </form>
    <br><br>
    <a href = "/login"> Login </a>
</body>
</html>