<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sniper</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="clearContainer">
        <h1>If you already have an account please login</h1>
            <form method="post" action="/register">
                First Name: <input type="text" name="firstname">
                Last Name: <input type="text" name="lastname">
                <p>Email Name: <input type="email" name="email"></p>
                <input type="submit" class="btn"  id="login" value="Register">
                <a class="btn" href = "/login"> Login </a>
            </form>
            <br><br>
    </div>
    
</body>
</html>